<%- include('../partials/header') %>

<h1>New Ticket</h1>

<form action="/flights/<%= flightId %>/tickets" method="POST">
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <input type="number" name="price">
    <input type="submit" value="Add Ticket">
</form>




<%- include('../partials/footer') %>