<!DOCTYPE html>
<html>
  <head>
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to our flights</h1>
     <a href="/flights" class="welcome">See flights</a>
  </body>
</html>
